.contact-form {
  background-color: $light-gray;
  padding: 120px 0;

  @include _l {
    padding: 80px 0;
  }

  @include _m {
    padding: 40px 0;
  }

  &__wrap {
    @include flex-row;

    @include _m {
      @include flex-column;
    }
  }

  &__contacts-box {
    max-width: 352px;
    margin: 0 135px 0 0;

    @include _xl {
      margin: 0 45px 0 0;
    }
    @include _m {
      margin: 0;
    }
  }

  &__form-box {
    max-width: 553px;

    @include _m {
      max-width: none;
      margin: 40px 0 0 0;
    }
  }

  &__desc {
    line-height: 26px;
    color: $txt;
    margin: 30px 0 0 0;

    @include _m {
      margin: 20px 0 0 0;
    }
  }

  &__contact-name {
    margin: 30px 0 10px 0;
    @include _m {
      margin: 20px 0 10px 0;
    }
  }

  &__contact-link,
  &__shedule {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    text-decoration: none;
    color: $deep-black;
  }

  &__btn-submit {
    margin: 20px 0 0 0;

    @include _m {
      margin: 0 auto;
    }
    @include _s {
      width: 100%;
    }
  }
}
