.stages {
  padding: 120px 0;

  @include _l {
    padding: 80px 0;
  }

  @include _m {
    padding: 40px 0;
  }

  &__wrap {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 220px 1fr;
    grid-template-areas: "description boxes" "button boxes";

    @include _l {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
      grid-template-areas: "description" "boxes" "button ";
    }
  }
  &__desc-wrap {
    grid-area: description;

    @include _m {
      max-width: 450px;
    }
    @include _s {
      max-width: none;
      width: 100%;
    }
  }
  &__boxes {
    grid-area: boxes;
    margin: 0 0 0 120px;
    @include flex-row-btw;
    flex-wrap: wrap;

    @include _xl {
      margin: 0 0 0 70px;
    }
    @include _l {
      margin: 40px 0 0 0;
    }
  }
  &__btn-wrap {
    grid-area: button;
  }

  &__title {
    margin: 0 0 30px;
  }
  &__p {
    line-height: 26px;
  }

  &__btn {
    @include _m {
      margin: 0 auto;

      @include _s {
        width: 100%;
      }
    }
  }
}
