.nav-txt{
    font-family: 'CenturyGothic', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.h1{
    font-family: 'CenturyGothic', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.p18{
    font-family: 'CenturyGothic', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 100;
}