.nav-txt{
    font-family: 'CenturyGothic', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.h1{
    font-family: 'CenturyGothic', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    @include _xxl{
        font-size: 54px;
    } 
    @include _xl{
        font-size: 44px;
    } 
    @include _m{
        font-size: 38px;
    }
}
.h2{
    font-family: 'CenturyGothic', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @include _m{
        font-size: 28px;
    }
}
.h3{
    font-family: 'CenturyGothic', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
}
.h3-22{
    font-family: 'CenturyGothic', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;

    @include _m{
        font-size: 18px;
        line-height: 22px;
    }
}
.p14{
    font-family: 'CenturyGothic', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
   
}
.p16{
    font-family: 'CenturyGothic', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
   
}
.p18{
    font-family: 'CenturyGothic', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 100;

    @include _m{
        font-size: 16px;
    }
}
.p18-bold{
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}