@mixin flex-between {
    display: flex;
    justify-content: space-between;
  }
  @mixin flex-column {
    display: flex;
    flex-direction: column;
  }
  @mixin flex-al-centr {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @mixin flex-row {
    display: flex;
    flex-direction: row;
  }
  @mixin flex-row-btw {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  @mixin flex-row-ard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  

  @mixin _xxxl {
    @media  (max-width: 1640px){
      @content;
    }
  }

  @mixin _xxl {
    @media  (max-width: 1440px){
      @content;
    }
  }
  @mixin _xl {
    @media (max-width: 1199px){
      @content;
    }  
  }
  @mixin _l {
    @media  (max-width: 991px){
      @content;
    }
  }
  @mixin _m {
    @media  (max-width: 767px){
      @content;
    }
  }
  @mixin _s {
    @media  (max-width: 479px){
      @content;
    }
  }