$nav-bg: rgba(20, 21, 24, 0.20);
$img-bg: rgba(20, 21, 24, 0.20);
$light-gray: #F9F9FA;
$gray: #8E8E9E;
$deep-black: #141518;
$black: #333333;
$white: #FFFFFF;
$gray-txt: #9797A2;
$green: #28f328;

$bg-lang-gray: #65666885;
$bg-lang-black: #14151885;